gunicorn>=19.7.1
dash==0.17.4
dash-renderer==0.7.2
dash-html-components==0.6.0
dash-core-components==0.5.0

#Provincial notebook

seaborn==0.9.0
requests==2.21.0
plotly==4.5.3
pandas==1.0.1
numpy==1.16.2
matplotlib==3.0.3
dash==1.10.0
